################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AspNetCoreWidgets/obj
/src/AspNetCoreWidgets/bin
#/src/AspNetCoreWidgets/wwwroot/lib
*.user
/src/.vs
