
<div style="border:2px solid black; display:inline-block; margin:20px;">
    <button class="btn btn-primary" style="margin:10px;" onclick="refreshWidget('@(ViewData["VC"])')">
        Refresh
    </button>
    <div>
        @RenderBody()

    </div>
    
</div>