
@{
    ViewData["Title"] = "Widget Page";
}

<h1>My Action Begin</h1>
<div>
    <div id="Widget1">

    </div>
    <div id="Widget2">

    </div>
    <div id="Widget23">

    </div>
</div>
<h1>My Action End</h1>